.top {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.right-top {
	border-bottom-right-radius: 0px;
}

.bottom {
	border-top-width: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.tweets h2 {
	margin-top: 0px;
}

.tweets h4 {
	margin-bottom: 0px;
}