body {
	margin: 0;
	padding: 0;
	background-color: #55ACEE;
	font-family: Verdana, sans-serif;
}

#container {
	margin: 0 auto;
	padding: 0 20px 10px 20px;
	border: 1px solid #666666;
	width: 865px; /* subtract 40px from banner width for padding */
	background: #F1F1F1 url(#{request.contextPath}/resources/gfx/banner.png)
		no-repeat;
	padding-top: 110px;
}

#sidebar {
	font-size: 0.9em;
	width: 225px;
	float: right;
	border: 1px solid #666666;
	background: #DBEEF6;
	padding: 15px;
}

#sidebar ul {
	padding-left: 30px;
}

#footer {
	clear: both;
	text-align: center;
	color: #666666;
	font-size: 0.85em;
	padding: 3em 0 0 0;
}

.tweet {
	padding: 15px;
	margin-bottom: 15px;
	margin-top: 15px;
	width: 560px;
	border: 1px solid #808080;
	background-color: #FFFFFF;
}

.tweet .name {
	font-weight: bold;
	float: left;
}

.tweet .date {
	font-size: 0.8em;
	float: right;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}