<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

	<context-param>
		<param-name>org.richfaces.enableControlSkinning</param-name>
		<param-value>false</param-value>
	</context-param>

	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>

	<!-- JSF mapping -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/WEB-INF/pages/error.xhtml</location>
	</error-page>

	<!-- Security constraint -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Kwetter</web-resource-name>
			<url-pattern>/timeline</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>user</role-name>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

	<security-role>
		<role-name>user</role-name>
	</security-role>

	<security-role>
		<role-name>admin</role-name>
	</security-role>

	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>Kwetter</realm-name>
		<form-login-config>
			<form-login-page>/WEB-INF/pages/login.xhtml</form-login-page>
			<form-error-page>/WEB-INF/pages/loginfailure.xhtml</form-error-page>
		</form-login-config>
	</login-config>

</web-app>